:root{
    --black:#2a2a2a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Intervariable, sans-serif;
    font-weight: 400;
    letter-spacing: .25px;
    /* background-color:#0D0D11; */
    line-height: 1.2;
}

html, body {
    width: 100%;
    height: 100%;
}
body{
        background-color:#0D0D11;

}
.cursor{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1).5s;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 1;
}
.cursor-three{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1).5s;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 1;
}
/* .section{
    width: 95%;
    height: 950%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

.one{
    width: 100%;
    height: 100%;
    padding: 3%;
    background-color:#FF0000!important;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    margin: auto auto;
    position: relative;
    color: #000000;
    overflow: hidden;
}   
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav ul li{
    display: inline-block;
    margin: 0px 20px;   
    color: #F5F5F5;
}
#hey,#contact{
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
.eyes {
    display: flex;
    gap: 20px; /* Space between the eyes */
    width: 20%;
    align-items: center;
    justify-content: center;
}

.eye {
    
    width: 50px;
    height: 50px;
    background-color: #F5F5F5;
    /* border: 1px solid black; */
    position: relative;
    overflow: hidden;
    border-radius: 50%;

}

.pupil {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s; /* Smooth movement */
}

header h1{
    font-size: 1rem;
    /* font-weight: bolder; */
    /* color: #F5F5F5; */
    text-decoration: underline;
    margin-top: 1%;
}
header{
    position: relative;
}
.inner-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 8%;
    position: relative;
    /* background-color: #c60b0b; */
    height: 40vh;
   
}
.inner-header h2{
    font-size: 9vw;
    font-style: normal;
    font-size: clamp(30px, 7vw, 240px);
    line-height: 0.8;
    font-weight: 800;
    /* background-color: #000000; */
    width: 50%;
    align-self: flex-start;
    margin-top: 5%;
    text-transform: uppercase;
}



#lets-work{
    background-color:  #000000;
    color: #F5F5F5;
    width: 15%;
    text-align: center;
    padding: 1% 0;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
   #lets-work{
    width: 50%;
   }
   nav{
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
   }
   .eye{
    height: 30px;
   }
   .pupil{
    width: 5px;
    height: 5px;
   }

   .inner-header h2{
    font-style: normal;
    font-size: clamp(30px,11vw, 240px);
    margin-top: 20%;
}


}
.two{
    width: 95%;
    height: 95%;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #F5F5F5;
    padding: 5%;
    border-radius: 5%;
    margin: auto auto;
    text-align: center;
}
.two h1{
    color:#FF0000;
    font-weight: 800;
}
.two #skills{
    background-color: #383838;
    margin-top: 2%;
    padding: 1% 2%;
}
.three{
    width: 95%;
    height: 95%;
    background-color:#033DFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    border-radius: 5%;
    margin: auto auto;
    text-align: center;
    position: relative;
}
.three h1{
    color:#7384f6;
    font-weight: 800;
    font-size: 4vw;
}
.three p{
    color: #fff;
    font-size: 1.3rem;
}
@media only screen  and (max-width:600px){
    .three p{
        color: #fff;
        font-size: 1rem;
    } 
    .three h1{
        color:#7384f6;
        font-weight: 800;
        font-size: 10vw;
    }
}

.four{
    width: 95%;
    height: 95%;
    background-color:#F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5%;
    margin: auto auto;
    text-align: center;

}
.four h1{
    color: #dad6d1;
    font-weight: 800;
    font-size: 4vw;
}
.work{
    width: 100%;
}
.work img{
    width: 25%;
    transition: all 0.3s;
}
.work video{
    width: 25%;
    transition: all 0.3s;
}
.work img:hover{
    width: 27%;
}
@media only screen  and (max-width:600px){
    .four img{
       width: 50%;
    }
    .four h1{
        color: #dad6d1;
        font-weight: 800;
        font-size: 10vw;
        margin: 20px;
    }
}

.five{
    width: 95%;
    height: 95%;
    background-color:#1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    margin: auto auto;
    text-align: center;
}
footer h1{
    font-size: 9vw;
    font-style: normal;
    font-size: clamp(30px, 7vw, 240px);
    line-height: 0.8;
    font-weight: 800;
    /* background-color: #000000; */
    width: 80%;
    align-self: flex-start;
    margin-top: 5%;
    text-transform: uppercase;
    color: #FF0000;
    margin: auto;
}
.social{
    color: #999696;
    margin-top: 2%;
    cursor: pointer;
    transition: ease-in 0.2s;
}
.social:hover{
    color: #fff;
}
/* .section{
    width: 100%;
    height: 100%;
} */
